Package: opt-hgbundler
Version: 1.2.2-2
Depends: mercurial (>= 1.0.1), python-setuptools, python-lxml,
 tidy
Section: devel
Provides: python-hgbundler
Priority: optional
Architecture: all
Essential: no
Installed-Size: 
Maintainer: Georges Racinet <georges@racinet.fr>
Description: Manage and release "bundles" of mercurial repos.
